@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
html, body {
	margin: 0;
	padding-top: 0px;
	width: 100%;
	overflow: hidden;
}
::-webkit-scrollbar {
    display: none;
}
#loading {
    opacity: 0;
    margin-top: 25px;
	font-family: Lato;
	font-weight: 900;
    font-size: 300pt;
    text-align: center;
	color: white;
    -webkit-transition: opacity 1.5s ease-in;
	   -moz-transition: opacity 1.5s ease-in;
            transition: opacity 1.5s ease-in;
}
#loading.load {
    opacity: 1;
}
.outer {
	background-color: black;
    display: table;
    position: absolute;
    height: 100%;
	min-height: 60px;
    width: 100%;
	-webkit-box-shadow: 0px 2px 2px 0px #000000;
	   -moz-box-shadow: 0px 2px 2px 0px #000000;
	        box-shadow: 0px 2px 2px 0px #000000;
	z-index: 1000;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.right {
	background-color: #02C39A;
    position: absolute;
	bottom: -1px;
    height: 0%;
    width: 100%;
}
.navbar {
	display: none;
	color: white;
	font-family: Open Sans;
	font-weight: 700;
    font-size: 0pt;
	width: 100%;
}
.navbar-name {
	opacity: 0;
	font-size: 26pt;
	display: inline-block;
	padding: 0 25px 0 30px;
}
.navbar-name > a,
.navbar-name > a:active,
.navbar-name > a:visited {
	margin-left: 50px;
	text-decoration: none;
	color: white;
}
.navbar-name > a:hover {
	color: #FFD35C;
}
.navbar-name > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	margin-top: 5px;
}
.navbar-list {
	display: inline-block;
	float: right;
	padding: 0 25px 0 0;
}
.navbar-list > ul {
	list-style-type: none;
	margin: 0;
}
.navbar-list > ul > li {
	display: inline-block;
	width: auto;

}
.navbar-list > ul > li > a {
	opacity: 0;
	font-size: 26pt;
}
.navbar-list > ul > li > a,
.navbar-list > ul > li > a:visited,
.navbar-list > ul > li > a:active {
	text-decoration: none;
	color: white;
	padding: 0 15px 0 15px;
	text-align: center;
	width: 100%;
}
.navbar-list > ul > li > a.facebook:hover {
	color: #3A5795;
}
.navbar-list > ul > li > a.twitter:hover {
	color: #00ACED;
}
.navbar-list > ul > li > a.linkedin:hover {
	color: #0077B5;
}
.navbar-list > ul > li > a.github:hover {
	color: #4183C4;
}
.navbar-list > ul > li > a.me:hover {
	color: #FFD35C;
}
.section-header, .section-footer {
	font-family: Open Sans;
	font-weight: 700;
	position: absolute;
	width: 100%;
	height: 60px;
	color: white;
	text-align: center;
	opacity: 0;
}
.section-header {
	font-size: 22pt;
	padding-top: 15px;
	top: 0px;
}
.section-footer {
	bottom: 0px;
}
.section-footer > p {
	margin-top: 20px;
}
.right-scroller {
	position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0px;
    right: 0px;
    overflow: auto;
	opacity: 0;
}
.right-scroller > div {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.project {
	margin-bottom: 50px;
}
.project > h1 {
	font-family: Open Sans;
	font-size: 30pt;
	color: white;
	position: relative;
}
.project > .content-wrapper {
	min-height: 290px;
}
.project > .content-wrapper > .lef {
	float: left;
	width: 50%;
	min-height: 100%;
	font-family: Open Sans;
	color: white;
	font-size: 18px;
}
.project > .content-wrapper > .ri {
	width: 50%;
	float: left;

}
.project > .content-wrapper > .lef > div {
	width: 90%;
	text-align: left;
	margin: 0;
}
.project > .content-wrapper > .lef > div a,
.project > .content-wrapper > .lef > div a:active,
.project > .content-wrapper > .lef > div a:visited {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.project > .content-wrapper > .lef > div a:hover {
	color: #FFD35C;
}
.project > .content-wrapper > .ri > img {
	width: 100%;
	float: right;
}
.hmini {
	font-weight: bold;
	color: #FFD35C;
}
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
.down {
	margin-top: 50px;
}
#content {
	display: none;
}
#projects {
	display: none;
}
#selector {
	display: none;
}
#pens {
	display: none;
}
.shown {
	display: block !important;
}
.selector-wrapper {
	position: absolute;
	overflow: hidden;
	width: 550px;
	height: 380px;
	left: calc(50% - 225px);
	top: calc(50% - 190px);
	background-color: white;
}
.selection {
	position: absolute;
	overflow: hidden;
	width: 124%;
	height: 100%;
	cursor: pointer;
	background-color: #02C39A;
}
.selection h1 {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 210px;
	color: white;
	margin: 0px;
	-webkit-transition: .5s all ease;
	transition: .5s all ease;
}
.selection h2 {
	font-family: Open Sans;
	font-weight: 700;
	font-size: 35px;
	opacity: 0;
	color: white;
	margin: 0px;
	-webkit-transition: .5s all ease;
	transition: .5s all ease;
}
.selection-projects {
	transform: rotate(-34.5deg) translate(-50px, -231px);
	/*-webkit-clip-path: url(#clipped-upper);
	clip-path: url(#clipped-upper);*/
}
.selection-pens {
	transform: rotate(-34.5deg) translate(-50px, 156px);
	/*-webkit-clip-path: url(#clipped-lower);
	clip-path: url(#clipped-lower);*/
}
.selection-pens h1 {
	transform: rotate(34deg) translate(239px, -122px);
}
.selection-projects h1 {
	transform: rotate(34deg) translate(309px, 217px);
}
.selection-pens h2 {
	transform: rotate(34deg) translate(-25px, -100px);
}
.selection-projects h2 {
	transform: rotate(34deg) translate(406px, -100px);
}
.selection-pens:hover h1 {
	transform: rotate(34deg) translate(239px, -40px);
}
.selection-projects:hover h1 {
	transform: rotate(34deg) translate(309px, 90px);
}
.selection-projects:hover h2,
.selection-pens:hover h2 {
	opacity: 1;
}
